<div class="row">
<div class="col-lg-3 col-md-6 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3" style="padding-top: 1.5em;">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-money fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <h3 class="kpiValue">$ 10 234</h3>
            </div>
            <div class="col-md-6 col-offset-4">
              <h5>Total Revenue</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3 col-md-6 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3" style="padding-top: 1.5em;">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-filter fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <h3 class="kpiValue">45 %</h3>
            </div>
            <div class="col-md-9 col-offset-4">
              <h5>Convertion Rate</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-3 col-md-6 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3" style="padding-top: 1.5em;">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <h3 class="kpiValue">500 </h3>
            </div>
            <div class="col-md-9 col-offset-4">
              <h5>Number of Purchases</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3 col-md-6 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3" style="padding-top: 1.5em;">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <h3 class="kpiValue">326</h3>
            </div>
            <div class="col-md-6 col-offset-4">
              <h5>Users</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
</div>

<!-- Revenue secion -->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><i class="fa fa-money" style="margin-right: 10px;"></i> Revenue</div>
  </div>
	<div class="panel-body">
    <!-- <canvas id="line" class="chart chart-line" data="context.chart.data" -->
    <!--         labels="context.chart.labels" legend="true" series="context.chart.series" -->
    <!--         click="onClick" colours="context.chart.colours" options="context.chart.options"> -->
    <!-- </canvas> -->
  </div>
</div>

<!-- Convertion rate secion -->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><i class="fa fa-filter" style="margin-right: 10px;"></i>  Convertion Rate</div>
  </div>
	<div class="panel-body">
    <!-- <canvas id="line" class="chart chart-line" data="context.chart.data" -->
    <!--         labels="context.chart.labels" legend="true" series="context.chart.series" -->
    <!--         click="onClick" colours="context.chart.colours" options="context.chart.options"> -->
    <!-- </canvas> -->
  </div>
</div>

<!-- Number of purchases secion -->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><i class="fa fa-shopping-cart" style="margin-right: 10px;"></i> Number of Purchases</div>
  </div>
	<div class="panel-body">
    <!-- <canvas id="line" class="chart chart-line" data="context.chart.data" -->
    <!--         labels="context.chart.labels" legend="true" series="context.chart.series" -->
    <!--         click="onClick" colours="context.chart.colours" options="context.chart.options"> -->
    <!-- </canvas> -->
  </div>
</div>

<!-- Users who purchase secion -->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><i class="fa fa-user" user="margin-right: 10px;"></i> Unique users that purchased</div>
  </div>
	<div class="panel-body">
    <!-- <canvas id="line" class="chart chart-line" data="context.chart.data" -->
    <!--         labels="context.chart.labels" legend="true" series="context.chart.series" -->
    <!--         click="onClick" colours="context.chart.colours" options="context.chart.options"> -->
    <!-- </canvas> -->
  </div>
</div>

